<% provide(:title, 'Home') %>
<div class="page-header">
	<h1>CPAR System</h1>
	<% if signed_in? %>
		<div class ="row">
			<div class="span9" id="issues_chart" style="width: 500px; height: 400px;"></div>
			<!--This is temporary-->
			<script type="text/javascript" charset="utf-8">
				$(function () {
				  new Highcharts.Chart({
				    chart: { renderTo: 'issues_chart' },
				    title: { text: 'Issues by Day' },
				    xAxis: { type: 'datetime' },
				    yAxis: {
				      title: { text: 'Issues'}
				    },
				    tooltip: {
				      formatter: function () {
        				return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + this.y + " Issues";
      					}
    				},  
				    series: [
				    {
				    	name: "Issues Started",
				        pointInterval: <%= 1.day * 1000 %>,
      					pointStart: <%= 1.week.ago.at_midnight.to_i * 1000 %>,
      					data: <%= (1.week.ago.to_date..1.week.from_now.to_date).map { |date| Issue.total_on(date).to_f}.inspect %>
				    },
				    {
				      name: "Issues Closed",
				      pointInterval: <%= 1.day * 1000 %>,
				      pointStart: <%= 1.week.ago.at_midnight.to_i * 1000 %>,
				      data: <%= (1.week.ago.to_date..1.week.from_now.to_date).map { |date| Issue.total_closed(date).to_f}.inspect %>
				    },
				    {
				      name: "Pending Issues Estimated Closeout",
				      pointInterval: <%= 1.day * 1000 %>,
				      pointStart: <%= 1.week.ago.at_midnight.to_i * 1000 %>,
				      data: <%= (1.week.ago.to_date..1.week.from_now.to_date).map { |date| Issue.pending_on(date).to_f}.inspect %>
				    }]
				  });
				  new Highcharts.Chart({
				  	chart: { 
				  		
				  		renderTo: 'issues_chart2' },
				  	title: { text: 'Issues by Department' },
				  	tooltip: {
        	    		pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            			percentageDecimals: 1
            			},
            		plotOptions: {
            		    pie: {
                    		allowPointSelect: true,
                    		cursor: 'pointer',
                    		dataLabels: {
	                        	enabled: true,
    		                    color: '#000000',
            		            connectorColor: '#000000',
                    		    formatter: function() {
                            	return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        		}
                    		}
                		}
            		},
            		series: [{
                		type: 'pie',
                		name: 'Issues by Department',
                		data: [
                			
                    		['Administration',   <%= @issues_admin.round(2) %>],
		                    ['Maintenance',       <%= @issues_maintenance.round(2) %>],
                    		['Development',    <%= @issues_development.round(2) %>],
                    		['Verification',     <%= @issues_verification.round(2) %>],
                		]
                	}]
				  });
				new Highcharts.Chart({ 
					 chart: {
		                type: 'bar',
		                renderTo: 'issues_chart3'
		            },
		            title: {
		                text: 'Issues Statuses'
		            },
		            subtitle: {
		                text: 'by Department'
		            },
		            xAxis: {
		                categories: ['New', 'Verified', 'Investigating', 'Correcting', 'Implemented', 'Closed', 'Rejected'],
		                title: {
		                    text: null
		                }
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Issues',
		                    align: 'high'
		                },
		                labels: {
		                    overflow: 'justify'
		                }
		            },
		            tooltip: {
		                valueSuffix: ' Issues'
		            },
		            plotOptions: {
		                bar: {
		                    dataLabels: {
		                        enabled: true
		                    }
		                }
		            },
		            legend: {
		                layout: 'vertical',
		                align: 'right',
		                verticalAlign: 'top',
		                x: -20,
		                y: 20,
		                floating: true,
		                borderWidth: 1,
		                backgroundColor: '#FFFFFF',
		                shadow: true
		            },
		            credits: {
		                enabled: false
		            },
		            series: [{
		                name: 'Administration',
		                data: [<%= Issue.where(status_id: 1, department_id: 1).count %>, <%= Issue.where(status_id: 2, department_id: 1).count %>, <%= Issue.where(status_id: 3, department_id: 1).count %>,<%= Issue.where(status_id: 4, department_id: 1).count%>,<%= Issue.where(status_id: 5, department_id: 1).count%>,<%= Issue.where(status_id: 6, department_id: 1).count%>, ,<%= Issue.where(status_id: 7, department_id: 1).count %>]
		            }, {
		                name: 'Maintenance',
		                data: [<%= Issue.where(status_id: 1, department_id: 2).count %>, <%= Issue.where(status_id: 2, department_id: 2).count %>, <%= Issue.where(status_id: 3, department_id: 2).count %>, <%= Issue.where(status_id: 4, department_id: 2).count %>, <%= Issue.where(status_id: 5, department_id: 2).count %>, <%= Issue.where(status_id: 6, department_id: 2).count %>, <%= Issue.where(status_id: 7, department_id: 2).count %>]
		            }, {
		                name: 'Development',
		                data: [<%= Issue.where(status_id: 1, department_id: 3).count %>, <%= Issue.where(status_id: 2, department_id: 3).count %>, <%= Issue.where(status_id: 3, department_id: 3).count %>, <%= Issue.where(status_id: 4, department_id: 3).count %>, <%= Issue.where(status_id: 5, department_id: 3).count %>, <%= Issue.where(status_id: 6, department_id: 3).count %>, <%= Issue.where(status_id: 7, department_id: 3).count %>]
		            }, {
		                name: 'Verification',
		                data: [<%= Issue.where(status_id: 1, department_id: 4).count %>, <%= Issue.where(status_id: 2, department_id: 4).count %>, <%= Issue.where(status_id: 3, department_id: 4).count %>, <%= Issue.where(status_id: 4, department_id: 4).count %>, <%= Issue.where(status_id: 5, department_id: 4).count %>, <%= Issue.where(status_id: 6, department_id: 4).count %>, <%= Issue.where(status_id: 7, department_id: 4).count %>]
		            }]
				});
			});
			</script>
			<div class="span3" id="issues_chart2" style="width: 400px; height: 400px;"></div>
			<div class="span6" id="issues_chart3" style="width: 500px; height: 600px;"></div>
			<div class="span3">
				<p></p>
				<br>
				<hr>
				<table class="table table-striped table-bordered">
			    <tr>
			      <th>Issues Summary</th>
			      <th></th>
			  	</tr>
			  	<tr>
			  		<td>All Issues</td>
					<td><%= @issues.count.to_s %></td>
				</tr>
				<tr>
			  		<td>Issues Submitted this month</td>
					<td><%= @issues_thismonth.count.to_s %></td>
				</tr>
				<tr>
			  		<td>Issues Closed this month</td>
					<td><%= @issues_closed.count.to_s %></td>
				</tr>
				<tr>
			  		<td>Pending Issues</td>
					<td><%= @issues_pending.to_s %></td>
				</tr>
				<tr>
			  		<td>Issue Rejection Rate</td>
					<td><%= @issues_rejected / @issues_total %></td>
				</tr>
			</table>
			</div>
		</div>
	</div>
	<% else %>
		<h2>
		  Please login to use features.
		  <p><%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
		  	 <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
			</p>
			</h2>
	<% end %>
</div>