<% provide(:title, 'Auditor: All Action Plans') %>
<h1>Auditor: All Action Plans</h1>

<table class="table table-striped table-bordered">
    <tr>
      <th>Belongs to Issue</th>
      <th>Description</th>
      <th>Submitted by</th>
      <th>Final Review Date</th>
      <th>Final Implementation Date</th>
      <th></th>

    </tr>

    <% @action_plans.each do |ap| %>
    	<tr>
	    	<td><%= "Issue Title Here" %></td>
	    	<td><%= ap.description %></td>
	    	<td><%= "User Name here" %></td>
	    	<td><%= ap.final_review_date %></td>
	    	<td><%= ap.final_implementation_review_date %></td>
	    	<td> 
	    		<%= link_to "View", [:auditor, ap], class: "btn btn-link" %>
	    		<%= link_to "Delete", [:auditor, ap] , method: :delete,
        	                          data: { confirm: "Are you sure you want to delete this Action Plan?" }, class: "btn btn-link" %>
	    	</td>
	    </tr>
    <% end %>
</table>
<%= will_paginate %>