<% provide(:title, "Showing Action Plan") %>
<h1>Auditor: Showing Action Plan</h1>

<div class="row">
  <div class="span6">
  		<p><strong>Action Plan Status: </strong><i><%= ActionPlanStatus.find(@action_plan.ap_status_id).name %></i></p>
  		<p>
		<% if @action_plan.ap_status_id == 1 %>
			<strong>This Action plan has not yet been reviewed.</strong>
			<!--insert button to Review this as an Auditor-->
			<p>
				<%= render 'review' , action_plan: @action_plan %>
				<%= render 'reject', action_plan: @action_plan %>
			</p>
		<% else %>
			<strong>This Action plan has been reviewed by:</strong>
				<% if @action_plan.ap_reviewer_id != nil %>
					<%= User.find(@action_plan.ap_reviewer_id).name %>
				<% end %>
		<% end %>
		</p>
		<p><strong>Assigned Officer:</strong>
		<% if @action_plan.responsible_officer_id != nil %>
			<%= User.find(@action_plan.responsible_officer_id).name %>
		<% end %></p>
		<% if @action_plan.implementation_reviewer_id != nil %>
			<p><b>Action Plan Implementation reviewed by: </b>
			<%= User.find(@action_plan.implementation_reviewer_id).name %></p>
		<% elsif @action_plan.implemented? %>
			This Action Plan has been implemented by Officer. Review if properly implemented and if so, change status to Implemented with button below.
			<%= render 'implemented', action_plan: @action_plan %>
		<% end %>
		<br>
		<h4>Details</h4>
		<p> <strong>Description:</strong> </p>
		<p><%= @action_plan.description %> </p>
		<p><strong>Issue:</strong></p>
		<p><% if @action_plan.issue_id == nil %>
            	Issue Title
          	<% else %>
            	<%= link_to Issue.find(@action_plan.issue_id).title, auditor_issue_path(Issue.find(@action_plan.issue_id)) %>
          	<% end %>
      	</p>
      	<p><strong>Final Review Date: <%= @action_plan.final_review_date %></strong></p>
      	<p><strong>Final Implementation Review Date: <%= @action_plan.final_implementation_review_date %></strong></p>
	</div>
	<%= render 'actionplancomments_show' %>
		<div class="span9">
		<!--Show Activities under this Action Plan-->
		<%= render 'shared/activities_show', action_plan: @action_plan  %>
		<%= link_to 'Back to Issue', auditor_issue_path(Issue.find(@action_plan.issue_id)) , class: "btn btn-link"%>
		<%= link_to 'Back to Action Plans', auditor_action_plans_path , class: "btn btn-link"%>
	    </p>
		</div>
</div>
