<% provide(:title, 'Edit Issue') %>
<h1>Edit Issue</h1>
<div class="row">
  <div class="span6 offset3">
    
      <%= form_for @issue do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<br/>

		<%= f.label :description %>
		<%= f.text_area :description %>
		<br/>

		<label for="name">Originator Name: </label> 
  		<input type="text" id="name" value= "<%= User.where(id: @issue.user_id).first.name %>" disabled>

  		<label for="email">Originator Email: </label>
  		<input type="text" id="email" value= "<%= User.where(id: @issue.user_id).first.email %>" disabled>

  		<br/>

		<label for="department">Issue Under Department:</label>
  		<input type="text" id="department" value= "<%= Department.where(id: @issue.department_id).first.name %>" disabled>

		<%= f.label :type_id %>
		<%= f.select :type_id, IssueType.all.collect { |t| [t.name, t.id] } %>
		<br/>

		<%= f.submit "Update", class: "btn btn-link" %>
	 <% end %>
	 <hr>
	 <%= form_for(@issue_attachment) do |f| %>
  	    <%= f.label "Choose File" %>
  	    <%= f.file_field :myfile %>

  	    <%= f.label :description %>
  	    <%= f.text_field :description %>

  	    <%= f.hidden_field :user_id, value: current_user.id %>
  	    <%= f.hidden_field :issue_id, value: @issue.id %>

  	    <%= f.submit "Attach File", issue_id: @issue.id, class: "btn btn-link" %>
      <% end %>
      <%= link_to 'Back', issues_path, class: "btn btn-link" %>
  </div>
</div>