<% provide(:title, '- Issues Index') %>
<h1>View All Issues</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Originator</th>
      <th>Impact</th>
      <th>Status</th>
      <th></th>

    </tr>

    <% @issues.each do |issue| %>
    	<tr>
        <td> <%= issue.title %> </td>
        <td> <%= issue.user.name %> </td>
        <td> <%= issue.issue_impact.name %> </td>
        <td> <%= issue.issue_status.name %> </td>
        <td>
          <div id="command_container">
            <ul>
              <li id="issue_<%= issue.id %>">
                <%= link_to 'Show', issue %> |  
                <%= link_to 'Edit', edit_issue_path(issue) %> |
                <%= link_to 'Delete', issue, :confirm => 'Are you sure?', :method => :delete %>   
              </li>
            </ul>
          </div>

        </td>
        
    	</tr>
    <% end %>

  </table>

<%= link_to 'Report New Issue', new_issue_path %>