<h1>View All Issues</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Originator</th>
      <th>Impact</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @issues.each do |issue| %>
    	<tr>
        <td> <%= issue.title %> </td>
        <td> <%= issue.user.name %> </td>
        <td> <%= issue.issue_impact.name %> </td>
        <td> <%= issue.issue_status.name %> </td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, :confirm => 'Are you sure?', :method => :delete %></td>
    	</tr>
    <% end %>

  </table>

<%= link_to 'Report New Issue', new_issue_path %>