<% provide(:title, 'Issues Index') %>
<h1>View All Issues</h1>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Title</th>
      <th>Originator</th>
      <th>Impact</th>
      <th>Status</th>
      <th></th>

    </tr>

    <% @issues.each do |issue| %>
    	<tr>
        <td> <%= issue.title %> </td>
        <td> <%= issue.user.name %> </td>
        <td> <%= issue.issue_impact.name %> </td>
        <td> <%= issue.issue_status.name %> </td>
        <td>
          <div id="command_container">
            <ul>
              <li id="issue_<%= issue.id %>">
                <%= link_to 'Show', issue, class: "btn btn-link" %> |
                <%= link_to 'Edit', edit_issue_path(issue), class: "btn btn-link" %>
                <% if current_user.admin? %>
                  | <%= link_to 'Delete', issue, :confirm => 'Are you sure?', :method => :delete , class: "btn btn-link" %>
                <% end %>
              </li>
            </ul>
          </div>
        </td>
        
    	</tr>

    <% end %>

  </table>
  <%= will_paginate %>
<%= link_to 'Report New Issue', new_issue_path, class: "btn btn-large btn-primary" %>