<% provide(:title, 'Issues Index') %>
<h1>View All Issues</h1>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Title</th>
      <th>Originator</th>
      <th>Impact</th>
      <th>Status</th>
      <% if current_user.admin? %>
        <th>Department</th>
      <% end %>
      <!--Since Admin can view all Issues, even outside of Department,
          they should have a Departments column-->
      <th>Assigned To</th>
    </tr>

    <% @issues.each do |issue| %>
    	<tr>
        <td> <%= link_to issue.title, issue %> </td>
        <td> <%= issue.user.name %> </td>
        <td> <% if issue.impact_id == 1 %>
              <span class="label label-important"><%= issue.issue_impact.name %></spn>
              <% elsif issue.impact_id == 2 %>
                <span class="label label-warning"><%= issue.issue_impact.name %></spn>
              <% else %>
                <span class="label label-info"><%= issue.issue_impact.name %></spn>
            <% end %>
        </td>
        <td> <%= issue.issue_status.name %> </td>
        <% if current_user.admin? %>
          <td><%= issue.department.name %></td>
        <% end %>
        <!--Since Admin can view all Issues, even outside of Department,
          they should have a Departments column-->
        <td><% if issue.responsible_officer_id == nil %>
                None
             <% else %>
                <%= User.find(issue.responsible_officer_id).name %>
             <% end %>
        </td>
    	</tr>

    <% end %>

  </table>
  <%= will_paginate %>
<%= link_to 'Report New Issue', new_issue_path, class: "btn btn-large btn-primary" %>