<% provide(:title, 'Officer: All Action Plans') %>
<h1>Officer: All Action Plans</h1>

<table class="table table-striped table-bordered">
    <tr>
      <th>Issue</th>
      <th>Description</th>
      <th>Submitted by</th>
      <th>Final Review Date</th>
      <th>Final Implementation Date</th>
      <th></th>

    </tr>

    <% @action_plans.each do |ap| %>
    	<tr>
	    	<td><% if ap.issue_id == nil %>
            Issue Title
          <% else %>
            <%= Issue.find(ap.issue_id).title %>
          <% end %>
        </td>
	    	<td><%= ap.description %></td>
	    	<td><% if ap.responsible_officer_id == nil %>
            User name
          <% else %>
            <%= User.find(ap.responsible_officer_id).name %>
          <% end %>
        </td>
	    	<td><%= ap.final_review_date %></td>
	    	<td><%= ap.final_implementation_review_date %></td>
	    	<td> 
	    		<%= link_to "View", [:officer, ap], class: "btn btn-link" %>
	    	</td>
	    </tr>
    <% end %>
</table>
<%= link_to 'Add New Action Plan', new_officer_action_plan_path, class: "btn btn-large btn-primary" %>
<%= will_paginate %>