<% provide(:title, 'New Action Plan') %>
<h1>New Action Plan</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([:officer, @action_plan]) do |f| %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :issue_id %> 
	  <%= f.select :issue_id, @issues.collect { |i| [i.title, i.id] } %>

      <%= f.submit "Create Action Plan", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>