<% provide(:title, "Showing Action Plan") %>
<h1>Officer: Showing Action Plan</h1>

<div class="row">
  <div class="span6">
  		<p><strong>Action Plan Status: </strong><i><%= ActionPlanStatus.find(@action_plan.ap_status_id).name %></i></p>
  		<p>
  		<% if @action_plan.ap_status_id == 1 %>
			<strong>This Action plan has not yet been reviewed.</strong>
		<% else %>
			<% if @action_plan.ap_status_id == 2 && !@action_plan.implemented? %>
				<p><%= render 'implemented', action_plan: @action_plan %></p>
			<% end %>
			<strong>This Action plan has been reviewed by:</strong>
				<% if @action_plan.ap_reviewer_id != nil %>
					<%= User.find(@action_plan.ap_reviewer_id).name %>
				<% end %>
		<% end %>
		</p>
		<p><strong>Assigned Officer:</strong>
		<% if @action_plan.responsible_officer_id != nil %>
			<%= User.find(@action_plan.responsible_officer_id).name %>
		<% end %></p>
		<% if @action_plan.implementation_reviewer_id != nil %>
			<p><b>Action Plan Implementation reviewed by: </b>
			<%= User.find(@action_plan.implementation_reviewer_id).name %></p>
		<% end %>
		<br/>
		<h4>Details</h4>
		<p> <strong>Description:</strong> </p>
		<p><%= @action_plan.description %> </p>
		<p><strong>Issue:</strong></p>
		<p><% if @action_plan.issue_id == nil %>
            	Issue Title
          	<% else %>
            	<%= Issue.find(@action_plan.issue_id).title %>
          	<% end %>
      	</p>
      	<p><strong>Final Review Date: <%= @action_plan.final_review_date %></strong></p>
      	<p><strong>Final Implementation Review Date: <%= @action_plan.final_implementation_review_date %></strong></p>
	</div>
		<div class="span9">
		<!--Show Activities under this Action Plan-->
		<%= render 'activities_show', action_plan: @action_plan  %>
		<p><%= link_to 'Add Activity', new_officer_action_plan_activity_path(@action_plan) , class: "btn btn-link" %>
			<%= link_to 'Edit Action Plan', edit_officer_action_plan_path(@action_plan) , class: "btn btn-link" %>
		   <%= link_to 'Back', officer_action_plans_path , class: "btn btn-link"%></p>
	
		</div>
</div>
