<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span6">
    <section>
		<h1><%= @user.name %></h1>
		<p> <strong>User type:</strong> <%= UserType.where(id: @user.type_id).first.name %> </p>
		<p> <strong>Department:</strong> <%= Department.where(id: @user.department_id).first.name %></p>
		<h4> Contact Details </h4>
		<p> <strong>Email:</strong> <%= @user.email %> </p>
		<p> <strong>Mobile:</strong> <%= @user.mobile %> </p>
		<p> <strong>Phone:</strong> <%= @user.phone %> </p>
		<% if current_user?(@user) %>
			<%= link_to "Edit your Profile", edit_user_path(current_user), class: "btn btn-small btn-primary" %>
		<% end %>
		<%= link_to "Back to Users", users_path, class: "btn btn-small btn-primary" %>
	</section>
	</aside>
</div>