    <%= f.label :description %>
    <%= f.text_area :description %>
    
    <%= f.label :date_issued %>
    <%= f.date_select(:date_issued) %>

    <p> To be submitted as User: <%= current_user.name %></p>
    <p> For Issue # <%= @issue.id %></p>
    <p><%= @issue.description %></p>
    <!--It works, 'a' is variable passed on from action_plan's edit form variable-->