<!--Functions as Activity index show for Current Action Plan -->
<h3>Showing Activities</h3>
<p>Activities found for this Action Plan: <%= @action_plan.activities.count %></p>
<table class="table table-striped table-bordered">
    <tr>
      <th>Submitter</th>
      <th>Description</th>
      <th>Target Date</th>
      <th>Actual Date</th>
    </tr>

    <% @activities.each do |activity| %>
    	<tr>
        <td> <%= User.find(activity.user_id).name %> </td>
        <td> <%= activity.result %> </td>
        <td> <%= activity.target_date %> </td>
        <td> <%= activity.actual_date %> </td>
    	</tr>
    <% end %>

</table>