<!--Functions as Action Plan index show for Current Issue -->
<h3>Showing Action Plans</h3>
<p>Action Plans found for this Issue: <%= @action_plans.count %></p>

<table class="table table-striped table-bordered">
    <tr>
      <th>Description</th>
      <th>Submitted by</th>
      <th>Status</th>
      <th>Final Review Date</th>
      <th>Final Implementation Date</th>
      <th></th>

    </tr>

    <% @action_plans.each do |ap| %>
      <tr>
        <td><%= ap.description %></td>
        <td><% if ap.responsible_officer_id == nil %> 
              User Name
            <% else %>
              <%= User.find(ap.responsible_officer_id).name %>
            <% end %>
        </td>
        <td><%= ActionPlanStatus.find(ap.ap_status_id).name %></td>
        <td><%= ap.final_review_date %></td>
        <td><%= ap.final_implementation_review_date %></td>
        <td> 
          <%= link_to "View", [:dept, ap], class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
</table>
<%= will_paginate @action_plans %>