<% if @cof %>
  <h3>Closeout Form for "<%= @issue.title %>" Issue </h3>
  <table class="table table-striped table-bordered">
      <tr>
        <th>Officer</th>
        <th>Auditor</th>
        <th>QMR</th>
        <th>Closeout Date</th>
      </tr>


      	<tr>
          <td>Officer Acknowledgement</td>
          <td> <%= @cof.auditor_id != nil ? User.find(@cof.auditor_id).name : "Pending" %> </td>
          <td> <%= @cof.qmr_id != nil ? User.find(@cof.qmr_id).name : "Pending" %> </td>
          <td>
            <%= @cof.closeout_date %>
          </td>
      	</tr>

  </table>

  <table class="table table-striped table-bordered">
      <tr>
        <th>Department</th>
        <th>Department Head</th>
        <th>Responsible Officer</th>
      </tr>

      <% @cof.closeout_form_depts.each do |cofd| %>
        <tr>
          <td><%= Department.where(id: cofd.dept_id).first.name %></td>
          <td><% if cofd.dept_head_id == nil %>
                <% if cofd.dept_id == current_user.department_id && current_user.type_id == 2 %>
                  <%= link_to "Sign Closeout", sign_closeout_dept_issue_path(@issue, cofd: cofd.id), confirm: "Are you sure you want to sign close out form?" %>
                <% else %>
                  Pending
                <% end %>
              <% else %>
                <%= User.find(cofd.dept_head_id).name %>
              <% end %>
          </td>
          <td><% if cofd.officer_id == nil %>
                Pending
              <% else %>
                <%= User.find(cofd.officer_id).name %>
              <% end %>
          </td>
        </tr>
      <% end %>
  </table>
  <p>"Pending" means officer still has yet to Approve Closeout of this Issue. If you're an officer assigned to this Issue, please click on "Sign Closeout" to Sign Close out form. </p>
<% end %>