<% provide(:title, 'Show Issue') %>
<div class="row">
  <div class="span6">
    <p id="notice"> <%= notice %> </p>
 
    <h3>
      <!--<b>Title:</b> Use this instead for header-->
      <%= @issue.title %>
    </h3>

    <p>
      <b>Status:</b>
      <%= @issue.issue_status.name %>
    </p>

    <hr>

    <h4>Issue Details</h4>

    <p>
      <b>Description:</b>
      <%= @issue.description %>
    </p>
 
    <p>
      <b>Originator:</b>
      <%= @issue.user.name %>
    </p>

    <p>
      <b>Originator Email:</b>
      <%= @issue.user.email %>
    </p>

    <p>
      <b>Departments:</b>
      <%= @issue.department.name %>
      <% if @issue.next_responsible_departments.any? %>
        <% @issue.next_responsible_departments.each do |nrd| %>
          <%= ", "+ Department.where(id: nrd.department_id).first.name %>
          <!--+ " (" + nrd.responsibility_level.to_s + ")"-->
        <% end %>
      <% end %>
    </p>

    <p>
      <b>Type:</b>
      <%= @issue.issue_type.name %>
    </p>
 
    <p>
      <b>Impact:</b>
      <% if @issue.impact_id == 1 %>
        <span class="label label-important"><%= @issue.issue_impact.name %></spn>
      <% elsif @issue.impact_id == 2 %>
        <span class="label label-warning"><%= @issue.issue_impact.name %></spn>
      <% else %>
        <span class="label label-info"><%= @issue.issue_impact.name %></spn>
      <% end %>
    </p>

    <p>
      <b>ISO Reference ID:</b>
      <%= @issue.iso_nc.title %>
    </p>

    <p>
      <b>Assigned Officer: </b> 
        <% if @issue.responsible_officer_id != nil %>
          <%= User.find(@issue.responsible_officer_id).name %>
        <% else %>
          None
        <% end %>
    </p>

    <% if @issue.status_id == 2 && @issue.responsible_officer_id == nil && @issue.department_id == current_user.department_id %>
      <%= render 'assign' %>
    <% end %>
    <% if @nrd!= nil && @nrd.responsible_officer_id == nil && @nrd.department_id == current_user.department_id %>
      <%= render 'assign_secondary' %>
    <% end %>
    <%= link_to 'Show Details', details_dept_issue_path, class: "btn btn-link" %>
    <%= link_to 'Back', dept_issues_path, class: "btn btn-link" %>
    <hr>
    <%= render 'attachedfiles_show' %>
  </div>
  <%= render 'comments_show' %>
  
</div>