<% provide(:title, 'Department: All users') %>
<h1>Department: All users</h1>
<h2><%= "Department: #{Department.where(id: current_user.department_id).first.name}" %></h2>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>User Type</th>

    </tr>

    <% @users.each do |user| %>
    	<tr>
        <td> <%= link_to user.name, dept_user_path(user) %> </td>
        <td> <%= user.email %> </td>
        <td> <%= Department.where(id: user.department_id).first.name %> </td>
        <td> <%= UserType.where(id: user.type_id).first.name %> </td>
    	</tr>
    <% end %>

  </table>

<!--to replace this with table view like in Issues Index-->
<%= will_paginate @users %>