<% if @cof %>
  <h3>Closeout Form for "<%= @issue.title %>" Issue </h3>
  <table class="table table-striped table-bordered">
      <tr>
        <th>Officer</th>
        <th>Auditor</th>
        <th>QMR</th>
        <th>Closeout Date</th>
      </tr>


      	<tr>
          <td>Officer Acknowledgement</td>
          <td> <%= @cof.auditor_id != nil ? User.find(@cof.auditor_id).name : "Pending" %> </td>
          <td> <%= @cof.qmr_id != nil ? User.find(@cof.qmr_id).name : "Pending" %> </td>
          <td>
            <%= @cof.closeout_date %>
          </td>
      	</tr>

  </table>

  <table class="table table-striped table-bordered">
      <tr>
        <th>Department</th>
        <th>Department Head</th>
        <th>Responsible Officer</th>
      </tr>

      <% @cof.closeout_form_depts.each do |cofd| %>
        <tr>
          <td><%= Department.where(id: cofd.dept_id).first.name %></td>
          <td>Pending</td>
          <td>Pending</td>
        </tr>
      <% end %>
  </table>
  <p>"Pending" means officer still has yet to Approve Closeout of this Issue.</p>
<% end %>