<% provide(:title, 'Officer: Issues Index') %>
<h1><%= "Issues assigned to #{current_user.name}" %></h1>
<h2><%= "Department: #{Department.where(id: current_user.department_id).first.name}" %></h2>
<table class="table table-striped table-bordered">
    <tr>
      <th>Title</th>
      <th>Originator</th>
      <th>Impact</th>
      <th>Status</th> <!--replaced Department in favor of Status-->
      <th>Type</th>
      <th>ISO Id</th>
      <th>Assigned To</th>

    </tr>

    <% @issues.each do |issue| %>
      <tr>
        <td> <%= link_to issue.title, officer_issue_path(issue) %> </td>
        <td> <%= issue.user.name %> </td>
        <td> <%= issue.issue_impact.name %> </td>
        <td> <%= issue.issue_status.name %> </td>
        <td> <%= issue.issue_type.name %></td>
        <td> <%= issue.iso_nc.title %></td>
        <td><% if issue.responsible_officer_id == nil %>
                None
             <% else %>
                <%= User.find(issue.responsible_officer_id).name %>
             <% end %>
        </td>
      </tr>
    <% end %>

  </table>
  <%= will_paginate %>