<% provide(:title, 'All Action Plans') %>
<h1>All Action Plans</h1>

<table class="table table-striped table-bordered">
    <tr>
      <th>Belongs to Issue</th>
      <th>Description</th>
      <th>Submitted by</th>
      <th>Final Review Date</th>
      <th>Final Implementation Date</th>
      <th></th>

    </tr>

    <% @action_plans.each do |ap| %>
    	<tr>
	    	<td><% if ap.issue_id == nil %>
            Issue Title
          <% else %>
            <%= Issue.find(ap.issue_id).title %>
          <% end %>
        </td>
	    	<td><%= ap.description %></td>
	    	<td><%= "User Name here" %></td>
	    	<td><%= ap.final_review_date %></td>
	    	<td><%= ap.final_implementation_review_date %></td>
	    	<td> 
	    		<%= link_to "View", ap, class: "btn btn-link" %>
	    	</td>
	    </tr>
    <% end %>
</table>

<%= will_paginate %>