<% provide(:title, 'All Action Plans') %>
<h1>All Action Plans</h1>

<ul class="action_plans">
	<% @action_plans.each do |action_plan| %>
  		<li>
  			<%= link_to "Action Plan # #{action_plan.id}", action_plan %>
  			<p><%= action_plan.description%></p>
  		<% if current_user.admin? %>
 		   | <%= link_to "delete", action_plan , method: :delete,
        	                          data: { confirm: "Are you sure you want to delete this Action Plan?" } %>
  		<% end %>
  		</li>
  	<% end %>

</ul>
<%= link_to 'Add New Action Plan', new_action_plan_path, class: "btn btn-large btn-primary" %>
<%= will_paginate %>