<% provide(:title, "Showing Action Plan") %>
<div class="row">
  <div class="span6">
    
		<p> <strong>Description:</strong> </p>
		<p><%= @action_plan.description %> </p>
		<!--Show Activities under this Action Plan-->
		<%= render 'shared/activities_show', action_plan: @action_plan  %>
		<p><%= link_to 'Add Activity', new_activity_path(@action_plan.id) , class: "btn btn-small btn-primary" %>
			<%= link_to 'Edit', edit_action_plan_path(@action_plan) , class: "btn btn-small btn-primary" %>
		   <%= link_to 'Back', action_plans_path , class: "btn btn-small btn-primary"%></p>
	
	</div>
</div>
