<% provide(:title, 'Department Head Dashboard') %>
<h1>Department Head Dashboard</h1> 
<h2><%= "Department: #{Department.where(id: current_user.department_id).first.name}" %></h2>

<div class="row">
	<div class="span6">
<h4>Users Summary</h4>
<hr>
<p><b>All Users Under Department: </b><%= @users.count %></p>
<p><b>Designated Responsible Officers: </b><%= @users_officers.count %></p>
<%= link_to 'View All Users', dept_users_path, class: "btn btn-link" %>

<br>

<h4>Issues Summary</h4>
<hr>
<p><b>All Issues Under Department: </b><%= @issues.count %></p>
<p><b>Verified Issues needing Assignment of Officer: </b><%= @issues_verified.count %></p>
<p><b>Issues Secondarily Assigned to your Department: </b><%= @issues_secondary.count %></p>
<%= link_to 'View All Issues', dept_issues_path, class: "btn btn-link" %>

</div></div>