<%= form_for [:officer, @action_plan, @activity] do |f2| %>
    <p><strong> Action Plan for Issue: </strong><%= Issue.find(@action_plan.issue_id).title %></p>
    <p><b>Description: </b><%= @action_plan.description %></p>

    <%= f2.label :description %>
    <!--Use :result field as description field for Action Plan while not yet finished-->
    <%= f2.text_area :result %>
    
    <%= f2.label :target_date %>
    <%= f2.date_select(:target_date, start_year: 1990) %>

    <p><b> To be submitted as User: </b> <%= current_user.name %></p>
    <%= f2.submit "Add Activity", class: "btn btn-large btn-primary" %>
<% end %>