<% provide(:title, "Dept as Officer: Showing Cause") %>
<div class="row">
	<h1>Showing Cause</h1>
  	<div class="span6">
  		<p><strong>For Issue:</strong></p>
  		<p><%= link_to @issue.title, [:dept, Issue.find(@cause.issue_id)] %></p>
		<p> <strong>Description:</strong> </p>
		<p><%= @cause.description %> </p>
		<p><strong>Investigated by:</strong></p>
		<p><%= User.find(@cause.user_id).name %></p>
		<p> <strong>Date Issued:</strong></p>
		<p><%= @cause.date_issued %></p>
		<% if current_user?(User.find(@cause.user_id)) %>
    		<%= link_to "Edit Cause", [:edit, :dept, Issue.find(@cause.issue_id), @cause], class: "btn btn-small btn-primary" %>
    		<!--<%= link_to "Delete Cause", [:dept, Issue.find(@cause.issue_id), @cause] , method: :delete,
                                    data: { confirm: "Are you sure you want to delete this Cause?" }, class: "btn btn-small btn-primary" %>-->
		<% end %>
		<%= link_to "Back to Issue", [:dept, Issue.find(@cause.issue_id)], class: "btn btn-small btn-primary" %>
		<hr>
		<div class="span5">
		    <h4>Files</h4>
		    <hr>
		    <% if @cause.cause_attachments.any? %>
		      <%= @cause.cause_attachments.count %> files attached to this Cause:
		      <% @cause.cause_attachments.each do |cause_attachment| %>
		        <p>
		          <% if cause_attachment.myfile.file.extension == 'pdf' || cause_attachment.myfile.file.extension == 'doc' || cause_attachment.myfile.file.extension == 'docx' %>
		            <i class="icon-file"></i>
		          <% elsif cause_attachment.myfile.file.extension == 'jpg' || cause_attachment.myfile.file.extension == 'jpeg' || cause_attachment.myfile.file.extension == 'png' || cause_attachment.myfile.file.extension == 'bmp'|| cause_attachment.myfile.file.extension == 'gif' %>
		            <i class="icon-picture"></i>
		          <% else %>
		            <i class="icon-search"></i>
		          <% end %>
		          <b><i><%= link_to File.basename(cause_attachment.myfile.url), cause_attachment.myfile.url %></i></b> | 
		          <%= cause_attachment.description %> |
		          <%= link_to "View file", cause_attachment.myfile.url, target: '_blank' %>
		          <% if current_user.id == cause_attachment.user_id %>
		            | <%= link_to "delete", dept_cause_attachment_path(cause_attachment, cause_id: @cause.id), confirm: "Are you sure you want to delete this File?", method: :delete  %>
		          <% end %>
		        </p>
		        <br>
		      <% end %>
		    <% else %>
		    	<% if @cause.user_id == current_user.id %>
			      <%= form_for [:dept, @cause_attachment] do |f| %>
			        <%= f.label "Choose File" %>
			        <%= f.file_field :myfile %>

			        <%= f.label :description %>
			        <%= f.text_field :description %>

			        <%= f.hidden_field :user_id, value: current_user.id %>
			        <%= f.hidden_field :cause_id, value: @cause.id %>

			        <%= f.submit "Attach File", cause_id: @cause.id, class: "btn btn-primary" %>
			      <% end %>
		      <% else %>
		      	You cannot add Files for this Cause.
		      <% end %>
		    <% end %>
		  </div>
	</div>
	<%= render 'causecomments_show' %>
</div>