<% provide(:title, 'Show Issue') %>
<div class="row">
  <div class="span6">
    <p id="notice"> <%= notice %> </p>
 
    <h3>
      <!--<b>Title:</b> Use this instead for header-->
      <%= @issue.title %>
    </h3>

    <%= render 'statuschange', issue: @issue %>
 
    <p>
      <b>Description:</b>
      <%= @issue.description %>
    </p>
 
    <p>
      <b>Originator:</b>
      <%= @issue.user.name %>
    </p>

    <p>
      <b>Originator Email:</b>
      <%= @issue.user.email %>
    </p>

    <p>
      <b>Department:</b>
      <%= @issue.department.name %>
    </p>

    <p>
      <b>Type:</b>
      <%= @issue.issue_type.name %>
    </p>
 
    <p>
      <b>Impact:</b>
      <%= @issue.issue_impact.name %>
    </p>

    <p>
      <b>Status:</b>
      <%= @issue.issue_status.name %>
    </p>

    <p>
      <b>ISO Reference ID:</b>
      <%= @issue.iso_nc.title %>
    </p>

    <p>
        <b>Assigned Officer: </b> 
        <% if @issue.responsible_officer_id != nil %>
          <%= User.find(@issue.responsible_officer_id).name %>
        <% else %>
          None
        <% end %>
    </p>

    <%= link_to 'Edit', edit_qmr_issue_path(@issue), class: "btn btn-link" %>
    <%= link_to 'Back', qmr_issues_path, class: "btn btn-link" %>
  </div>
  
  <div class="span9">
    <%= render 'causes_show' %>
    <%= render 'actionplans_show' %>
  </div>
</div>