<% provide(:title, 'Administration: All users') %>
 <h1>All users</h1>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>User Type</th>
      <th></th>

    </tr>

    <% @users.each do |user| %>
    	<tr>
        <td> <%= link_to user.name, admin_user_path(user) %> </td>
        <td> <%= user.email %> </td>
        <td> <%= Department.where(id: user.department_id).first.name %> </td>
        <td> <%= UserType.where(id: user.type_id).first.name %> </td>
        <td>
          <div id="command_container">
            <ul>
              <li id="user_<%= user.id %>">
                <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-link" %>
                   <% if !current_user?(user) %>
  	                <%= link_to 'Delete', [:admin, user], :confirm => 'Are you sure you want to delete this User\'s account?', :method => :delete , class: "btn btn-link" %>
   	               <% end %>
              </li>
            </ul>
          </div>
        </td>
    	</tr>
    <% end %>

  </table>

<%= link_to "Add New User", new_admin_user_path, class: "btn btn-small btn-primary" %>
<!--to replace this with table view like in Issues Index-->
<%= will_paginate %>

<h2> Users for Approval </h2>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>User Type</th>
      <th></th>
    </tr>
      <% @users_enable.each do |user| %>    
        <tr>
         <td> <%= user.name %> </td>
         <td> <%= user.email %> </td>
         <td> <%= Department.where(id: user.department_id).first.name %> </td>
         <td> <%= UserType.where(id: user.type_id).first.name %> </td>
         <td> <%= link_to "Activate Account", activate_admin_user_path(user), :confirm => 'Are you sure you want to Activate this User\'s account?', class: "btn btn-small btn-link" %> </td>
        </tr>
      <% end %>
  </table>
<%= will_paginate %>