<% provide(:title, 'Officer: New Cause') %>
<h1>New Cause</h1>

<% if main_officer(@issue) %>
	<%= form_for [:officer, @issue, @cause] do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Add Cause", class: "btn btn-large btn-primary" %>
	<% end %>
<% elsif nrd_officer(@issue) %>
	<%= form_for [:officer, @issue, @cause], url: {action: "create_nrd", method: "post", controller: "causes" } do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Add Cause", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>